:root {
  --app-primary: #0378a6;
  --app-primary-dark: #046288;
  --app-secondary: #580e75;

  --app-dark: #2a2a2a;
  --app-light: #ffffff;
  --app-darklight: #ebedf2;
  --app-darklight2: #bebdbd;

  --app-error: #e2445c;
  --app-warning: #f25c05;
  --app-success: #9ebf6b;
}
