<app-ui>
  <!-- ici qu'on trouve le html de ui.component.html -->
  <!-- je peux projetter des templates (ensembles html, ou des webcomponent dans le template ui.component.html à l'aide de la directive ng-content) -->
  <app-icon-close class="tr-icon-close"></app-icon-close>
  <app-icon-nav class="tr-icon-open"></app-icon-nav>
  <app-header class="tr-header"></app-header>
  <app-nav class="tr-nav"></app-nav>
  <app-footer class="tr-footer"></app-footer>
  <router-outlet class="tr-content"></router-outlet>
  <!-- ici router va ajouter dynamiquement des selector qui corresondent aux components qui doivent etre instancié sur telle ou telle route -->
</app-ui>
