<app-template-fullwidth [title]="title" *ngIf="collection">
  <button (click)="changeTitle()">change title</button>
  <app-table-light [headers]="headers">
    <tr *ngFor="let item of collection">
      <td>{{ item.typePresta }}</td>
      <td>{{ item.client }}</td>
      <td>{{ item.nbJours }}</td>
      <td>{{ item.tjmHt }}</td>
      <td>{{ item.tjmHt | total: item.nbJours }}</td>
      <td>{{ item.tjmHt | total: item.nbJours: item.tva }}</td>
      <td>{{ item.state }}</td>
    </tr>
  </app-table-light>
</app-template-fullwidth>
