<header class="fixed-top">
  <!-- ajouter un icon pour ouvrir ou fermer le menu de navigation -->
  <span *ngIf="!open"  (click)="toggle()">
    <ng-content  select=".tr-icon-open"></ng-content>
  </span>
  <span *ngIf="open"  (click)="toggle()">
    <ng-content select=".tr-icon-close"></ng-content>
  </span>
  <!-- projetter header.component.html ici à l'aide d'une transclusion -->
  <ng-content select=".tr-header"></ng-content>
</header>
<main [ngClass]="{'close-aside': !open}">

  <div class="shadow position-fixed" (click)="open = false">

  </div>

  <aside>
    <div class="scroller">
      <ng-content select=".tr-nav"></ng-content>
    </div>
  </aside>

  <div class="page">

    <div class="contents">

      <ng-content select=".tr-content"></ng-content>

    </div>

    <footer>
      <ng-content select=".tr-footer"></ng-content>
    </footer>

  </div>
</main>
